.header-basket {
  height: 100%;
  width: 129px;
  margin-left: 414px;
  background-color: $blue-dark;
  color: $white-base;
  @include center-flex;
  font : {
    family: Open Sans;
    size: 14px;
    weight: 600;
  }
  &-price {
    margin-left: 13px;
    &-value {
      margin-left: 5px;
    }
  }
}
