.header-basket {
  position: relative;
  height: 100%;
  width: 129px;
  margin-left: 414px;
  background-color: $blue-dark;
  color: $white-base;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 24px;
  }
  font : {
    family: Open Sans;
    size: 14px;
    weight: 600;
  }
  &-price {
    position: absolute;
    right: 24px;
    &-lira:last-child {
      font-size: 12px;
    }
    &-value {
      margin-left: 4px;
    }
  }
}
